services:
  jekyll:
    build:
        context: .
        dockerfile: Containerfile
    command: >
      sh -c "sass assets/css/main.scss assets/css/main.css --no-source-map --style=compressed &&
             bundle exec jekyll serve --host 0.0.0.0 --livereload"
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
