@use 'sass:color' as color;
@use 'sass:math' as math;

@use '../../_sass/libs/index' as lib;

@use '../../_sass/base/page' as page;
@use '../../_sass/base/typography' as typography;
@use '../../_sass/components/section' as section;
@use '../../_sass/components/form' as form;
@use '../../_sass/components/box' as box;
@use '../../_sass/components/icon' as icon;
@use '../../_sass/components/image' as image;
@use '../../_sass/components/list' as list;
@use '../../_sass/components/table' as table;
@use '../../_sass/components/button' as button;
@use '../../_sass/components/tiles' as tiles;
@use '../../_sass/components/contact-method' as contact_method;
@use '../../_sass/components/spotlights' as spotlights;
@use '../../_sass/layout/header' as header;
@use '../../_sass/layout/banner' as banner;
@use '../../_sass/layout/main' as main_layout;
@use '../../_sass/layout/contact' as contact;
@use '../../_sass/layout/footer' as footer;
@use '../../_sass/layout/wrapper' as wrapper;
@use '../../_sass/layout/menu' as menu;

/*
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

	@include lib.skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
		xxsmall: '(max-width: 360px)'
	));

	@include lib.skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: 2em ),
		breakpoints: (
			large: (
				grid: ( gutters: 1.5em )
			),
			small: (
				grid: ( gutters: 1.25em )
			)
		)
	));

	@mixin inner {
		> .inner {
			@include lib.padding(4em, 0);
			margin: 0 auto;
			max-width: lib.size(inner);
			width: calc(100% - 6em);

			@include lib.breakpoint(small) {
				@include lib.padding(3em, 0);
				width: calc(100% - 3em);
			}
		}
	}
